{% extends "admin/base_site.html" %}
{% block extrastyle %}
{{ block.super }}
<style>
    #content {
        max-width: 1200px !important;
        margin: 60px auto !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    #site-name {
        margin-left: 0;
    }
    #site-name a {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
        font-weight: 800 !important;
        color: #ffffff !important;
        text-transform: uppercase !important;
        letter-spacing: 0.5px !important;
        font-size: 24px !important;
        text-decoration: none !important;
    }
</style>
{% endblock %}
{% block extrahead %}
{{ block.super }}
<link rel="icon" type="image/x-icon" href="https://docs.djangoproject.com/favicon.ico">
<link rel="apple-touch-icon" href="https://static.djangoproject.com/img/icon-touch.png">
{% endblock %}